@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome Superhero Fans</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://businessolympian.com.au/wp-content/uploads/2017/12/superhero-1024x544.jpg" class="d-block w-100" alt="superheros">
            </div>

        </div>
        <div class="container text-center">
            <h3>THE SUPERHEROS</h3>
            <p><em>We love them!</em></p>
            <br>
        </div>

    </div>




