@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Superhero Fans</h1>
   <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <div class="container">
        <img src="https://homefinder.com.my/wp-content/uploads/2016/03/marvel_superheroes.jpg" alt="superheros" style="width:100%;">
        
        <div class="centered"><h1>Who is your favorite Superhero?</h1></div>
    </div>
</div>
